* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.3s
}

:root {
    --main-color: #16a9a2;
    --second-color: #d5ffd1cc;
    --tirth-color: #adf5a3cc;
    --hover-color: #00eeff;
    --btn-primary-color: #22ffc8;
    --icon-primary-color: #00b0bd;
    --icon-secondary-color: #79ffed9c;
}

.modal {
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background: #0000005e;
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.modal .modal-content {
    position: relative;
    width: 580px;
    height: auto;
    background: white;
    background: var(--main-color);
    max-height: 90vh;
    overflow-y: scroll;
}

.modal .modal-content .close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    border: 2px solid red;
    color: red;
    font-weight: 700;
}

.modal .modal-content {
    padding: 20px;
}

.modal .modal-content .head {
    font-size: 30px;
    text-align: center;
    padding: 20px 0 20px 0;
    font-weight: 800;
}

.modal .modal-content .body .description p {
    padding: 10px 20px;
}

.modal .modal-content .et,
.modal .modal-content .body .description p:nth-child(1),
.modal .modal-content .body .text-field span:nth-child(1) {
    font-size: 16px;
    font-weight: 700;
}

.modal .modal-content table {
    padding: 10px 40px;
    width: 100%;
    border-collapse: collapse;
}

.modal .modal-content table th,
.modal .modal-content table td {
    padding: 5px;
    border: 1px solid black;
    text-align: center;

}

.modal .modal-content .message{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.modal .modal-content table td .del {
    color: red;
    cursor: pointer;
}

.modal .modal-content .body .text-field {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 28px;
    padding: 0 20px;
}

.modal .modal-content .body .text-field span:nth-child(2) select,
.modal .modal-content .body .text-field span:nth-child(2) input {
    width: 100%;
    height: 24px;
}

.modal .modal-content .image {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    background: white;
    margin: 10px 20px;
}

.modal .modal-content .et {
    padding: 10px 20px;
}

.modal .modal-content .image img {
    width: 45%;
    padding: 10px 10px;
}

.modal .modal-content .btns span {
    background: var(--second-color);
    padding: 5px 20px;
    margin: 0 10px;
    cursor: pointer;
}

.modal .modal-content .btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px 20px;
}