.home{
    width: 100%;
    min-height: 100vh;
    background: var(--main-color);
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background: url("./../assets/voltage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home .login{
    background: #d3a5fd98;
    padding: 20px;
    border-radius: 5px;
    width: 350px;
    height: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur(2px);
}
.home .login .head{
    font-weight: 700;
    font-size: 26px;
    padding-bottom: 30px;
}
.home .login .body{
    width: 100%;
    padding: 0 10px;
}
.home .login .body .field{
    position: relative;
    padding: 10px 0;
    display: flex;
    align-items: center;
}
.home .login .body .field .icon{
    position: absolute;
    left: 10px;
    color: var(--icon-primary-color);
    cursor: pointer;
}
.home .login .body .field .icon2{
    position: absolute;
    right: 10px;
    color: var(--icon-primary-color);
    cursor: pointer;
}
.home .login .body .field input{
    border: none;
    outline: none;
    height: 37px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px;
    font-size: 19px;
}
.home .login .footer{
    font-size: 21px;
    padding: 15px 0;
}

.home .login .footer span{
    padding: 5px 20px;
    border-radius: 5px;
    background: var(--btn-primary-color);
    border: 2px solid transparent;
    cursor: pointer;
}
.home .login .footer span:hover{
    background: transparent;
    border: 2px solid var(--btn-primary-color);
}